<%- include('partials/header') %>
    <body>

        <nav class="navbar navbar-inverse navbar-fixed-top">

            <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <a href="#" class="navbar-brand">LifeStyle Store</a>
            </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Signup"><span class="glyphicon glyphicon-user"></span>  Sign Up</a></li>
                    <li><a href="/Login"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                </ul>
            </div>
            </div>
        </nav>

        <div id="banner_image">
            <div class="container">
                <div id="banner_content">
                    <h1>We sell lifestyle</h1>
                      <p>Flat 40% OFF on premium brands </p>
                    <a href="/product" class="btn btn-danger btn-lg active">Shop now</a>
                </div>
            </div>
        </div>

  

<%- include('partials/footer') %>
