<%- include('partials/header') %>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">

            <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <a href="/index" class="navbar-brand">LifeStyle Store</a>
            </div>

                <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Signup"><span class="glyphicon glyphicon-user"></span>  Sign Up</a></li>
                    <li><a href="/Login"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                </ul>
            </div>
            </div>
        </nav>


        <div class="container " style='margin-top: 80px'>
            <h2 style="text-align: center; margin-bottom: 50px;">SIGN UP </h2>
  <form class="form-horizontal" >

      <div class="form-group">
      <label class="control-label col-sm-2" for="name">Name:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="Name" placeholder="Enter your Name" name="name">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-8">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-8">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
      </div>
    </div>

      <div class="form-group">
      <label class="control-label col-sm-2" for="contact">Contact:</label>
      <div class="col-sm-8">
        <input type="number" class="form-control" id="contact" placeholder="Enter Contact" name="contact">
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="city">City:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="city" placeholder="Enter city" name="city">
      </div>
    </div>
      <div class="form-group">
      <label class="control-label col-sm-2" for="address">Address:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="Address" placeholder="Enter Address" name="address">
      </div>
    </div>

      <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>




<%- include('partials/footer') %>
